<html lang="en" xmlns:th="http://www.thymealf.org">
<head>
    <title>addParty</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/style.css}" />
</head>

<body>
<video autoplay muted loop th:poster="@{/asset/first_frame.jpg}" id="bgvid">
    <source th:src="@{/asset/sea.mp4}" type="video/mp4"> </video>
<div class="fixedElement">
		<div id="rightheader">
			<p>
				Group 60
			</p>
		</div>
		<div id="topheader">
			<h1 id="title">
				<a href="#">Linker</a><br>
				<p class="message">Hold a party:)!</p>
			</h1>
		</div>
    <script src="//code.tidio.co/ogyd2r0mplv7lyll2ts6zh9jmnm95jlj.js" async></script>
	</div>





<div id="wrap3">
    <div id="top_content">
        
        <div id="content">
            <h1 style="text-align:center">
                Hold a party!
            </h1>
            <form th:action="@{user/saveparty}" method="post" enctype="multipart/form-data">
                <table cellpadding="0" cellspacing="0" border="0"
                       class="form_table">
                    <tr>
                        <td valign="middle" align="right">
                            Title:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="title" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            Description:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="description" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            Time:
                        </td>
                        <td valign="middle" align="left">
                            <input lang="en" type="date" class="inputgri" name="start_time" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            Place:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="place" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            Maximum participants:
                        </td>
                        <td valign="middle" align="left">
                            <input type="number" value="2" class="inputgri" name="max_member" />
                        </td>
                    </tr>
                </table>
                <p style="text-align:center">
					<button type="submit" id="button_lzh"> Add</button>
					<br/>
                    <a href="user/partylist">Go back</a>
                </p>
            </form>
        </div>
    </div>
</div>
</body>
</html>