<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div id="wrap">
    <div id="top_content">
        <div id="header">
            <div id="rightheader">
                <p>
                    Group 60
                    <br />
                    <a th:if="${session.user!=null}" th:href="@{/user/logout}">Click here to quit</a >
                    <br />
                    <a th:if="${session.user!=null}" th:href="@{/user/myparty}">Manage my party</a >
                    <a th:if="${session.user==null}" th:href="@{/login}">Click here to Sign in</a >
                </p>
            </div>
            <div id="topheader">
                <h1 id="title">
                    <a href="#">Linker</a>
                </h1>
            </div>
            <div id="navigation">
            </div>
        </div>
        <div id="content">
            <p id="whereami">
            </p>
            <h1>
                Welcome <span th:if="${session.user!=null}" th:text="${session.user.getEmail_address()}"></span>
                <span th:if="${session.user==null}" >Guest (Please sign in first)</span>!
            </h1>
            <table class="table">
                <tr class="table_header">
                    <td>
                        party_id
                    </td>
                    <td>
                        title
                    </td>
                    <td>
                        description
                    </td>
                    <td>
                        date
                    </td>
                    <td>
                        place
                    </td>
                    <td>
                        members
                    </td>
                    <td>
                        holder_id
                    </td>
                    <td>
                    </td>
                </tr>
                <tr th:each="party,state:${parties}"  th:class="${state.odd?'row1':'row2'}">
                    <td>
                        <span th:text="${party.party_id}"></span>
                    </td>
                    <td>
                        <span th:text="${party.title}"></span>
                    </td>
                    <td>
                        <span th:text="${party.description}" th:width="60"></span>
                    </td>
                    <td>
                        <span th:text="${#dates.format(party.start_time,'yyyy/MM/dd')}"></span>
                    </td>
                    <td>
                        <span th:text="${party.place}"></span>
                    </td>
                    <td>
                        <span th:text="${party.current_member} + '/' + ${party.max_member}"></span>
                    </td>
                    <td>
                        <span th:text="${party.belongs_to}"></span>
                    </td>
                    <td>
                        <a th:if="${session.user.getUser_id() != party.belongs_to}" href="javascript:;" th:onclick="'join('+${party.party_id} + ')'">Join</a>
                        <a th:if="${session.user.getUser_id() == party.belongs_to}">You are the holder</a>
                    </td>
                </tr>
                <script>
                    function join(partyId){
                        if(window.confirm('Confirm to Join')){
                            location.href='[[@{/user/joinparty?partyId=}]]' + partyId;
                        }
                    }
                </script>
            </table>
            <p>
                <input type="button" class="button" value="add" onclick="addParty()"/>
                <script>
                    function addParty(){
                        location.href = '[[@{/addParty}]]';
                    }
                </script>
            </p >
        </div>
    </div>
</div>
</body>
</html>
