<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>myParty</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>


<body>
<video autoplay muted loop th:poster="@{/asset/first_frame.jpg}" id="bgvid">
    <source th:src="@{/asset/sea.mp4}" type="video/mp4"> </video>
<div class="fixedElement">
		<div id="rightheader">
			<p>
				Group 60
				<br />
				<a th:if="${session.user!=null}" th:href="@{/user/logout}">Click here to quit</a>
			</p>
		</div>
		<div id="topheader">
			<h1 id="title">
				<a href="#">Linker</a><br>
				<p class="message">View your party:)</p>
			</h1>
		</div>
		
	</div>	
	
	
<div id="wrap2">
    <div id="top_content">
        <div id="content">
            <h1>
                <span th:if="${session.user!=null}" th:text="${session.user.getEmail_address()}"></span>'s parties !
            </h1>
            <table class="table">
                <tr class="table_header">
                    <td>
                        title
                    </td>
                    <td>
                        description
                    </td>
                    <td>
                        date
                    </td>
                    <td>
                        place
                    </td>
                    <td>
                        members
                    </td>
                    <td>
                        holder_name
                    </td>
                    <td>
                    </td>
                </tr>
                <tr th:each="myparties,state:${myparties}"  th:class="${state.odd?'row1':'row2'}">
                    <td>
                        <span th:text="${myparties.title}"></span>
                    </td>
                    <td>
                        <span th:text="${myparties.description}" th:width="60"></span>
                    </td>
                    <td>
                        <span th:text="${#dates.format(myparties.start_time,'yyyy/MM/dd')}"></span>
                    </td>
                    <td>
                        <span th:text="${myparties.place}"></span>
                    </td>
                    <td>
                        <span th:text="${myparties.current_member} + '/' + ${myparties.max_member}"></span>
                    </td>
                    <td>
                        <span th:text="${myparties.getHolder_name()}"></span>
                    </td>
                    <td>
                        <a th:if="${session.user.getUser_id() != myparties.belongs_to}" href="javascript:;" th:onclick="'quit('+${myparties.party_id}+')'">Quit</a>
                        <a th:if="${session.user.getUser_id() == myparties.belongs_to}" href="javascript:;" th:onclick="'dismiss('+${myparties.party_id}+')'">Dismiss</a>
                   </td>
                </tr>
                <script>
                    function quit(partyId){
                        if(window.confirm('Confirm to Quit')){
                            location.href='[[@{/user/quitparty?partyId=}]]'+ partyId;
                        }
                    }
                </script>               
                 <script>
                    function dismiss(partyId){
                        if(window.confirm('Confirm to Dismiss')){
                            location.href='[[@{/user/dismissparty?partyId=}]]'+ partyId;
                        }
                    }
                </script>
            </table>
            <button class="button" onclick="back()">Back to party list</button>
            <script>
                function back(){
                    location.href = '[[@{/user/partylist}]]';
                }
            </script>
        </div>
    </div>
</div>
</body>
<script src="//code.tidio.co/ogyd2r0mplv7lyll2ts6zh9jmnm95jlj.js" async></script>
</html>